# Dependencies
node_modules/
vendor/

# Environment
.env
.env.local

# Build
build/
bin/
web/dist/
*.exe
*.dll
*.so
*.dylib

# Python
*.pyc
__pycache__/

# Data
data/
*.db
*.db-journal
*.db-wal

# IDE
.DS_Store
*.log
.vscode/
.idea/

# Test
*.test
*.out
/server
